.about-us {
    color: rgb(92,91,91);
}

.first-article {
    display: inline-block;
    padding-top: 30px;
}

.first-article div {
    float: left;
    width: 480px;
}

.about-us h2 {
    font-weight: normal;
    padding: 20px 0;
}

.first-article p {
    text-align: left;
    font-size: 13px;
    padding: 20px 70px 0 0;
}

.first-article img {
    float: right;
    height: 400px;
    width: 300px;
}

.secend-article {
    display: inline-block;
    padding: 70px 0 60px 0;
}

.secend-article div {
    float: right;
    width: 430px;
}

.secend-article p {
    text-align: left;
    font-size: 13px;
    padding-top: 20px;
}

.secend-article img {
    float: left;
    height: 350px;
    width: 290px;
    padding-right: 60px;
}
